In [50]:
import numpy as np
import pandas as pd
import random

# Salsa Verdes.

In [51]:
class Dia:
    def __init__(self, id_dia: int, id_experimento: int, pedidos: float):
        self.id_dia = id_dia
        self.id_experimento = id_experimento
        self.pedidos = pedidos

    def __repr__(self):
        return f"Dia(id_dia={self.id_dia}, id_experimento={self.id_experimento}, pedidos={self.pedidos})"

In [52]:
class SimulacionMonteCarlo:
    def __init__(self):
        self.lista_de_pedidos = []

    def generar_valores_aleatorios(self,limite_inferior: float, limite_superior: float, número_de_dias: int, total_experimentos: int):
        lista_salida = []

        for i in range(total_experimentos):
            for j in range(número_de_dias):
                valor =  limite_inferior + random.random() * (limite_superior - limite_inferior)
                dia = Dia(j, i, valor)
                lista_salida.append(dia)

        return lista_salida

    def calcular_valores_media_varianza(self,lista_entrada, total_experimentos, seleccionado):

        suma_parcial = 0
        lista_parcial = []
        suma=0
        contador=0
        lista_dias=[]

        for i in range(total_experimentos):

            lista_filtrada = [dia for dia in lista_entrada if dia.id_experimento == i]

            if lista_filtrada:

                lista_filtrada.sort(key=lambda x: x.pedidos)

                # se selecciona el pedido del cliente
                dia_seleccionado = lista_filtrada[seleccionado]
                lista_parcial.append(dia_seleccionado)
                suma_parcial += dia_seleccionado.pedidos
                lista_dias.append(dia_seleccionado.pedidos)

        media = suma_parcial / total_experimentos if total_experimentos > 0 else 0

        # Calcular la varianza
        for dia in lista_parcial:
            suma = suma+ (dia.pedidos) ** 2
            contador +=1
        varianza= suma / (contador * (contador - 1)) - (media**2) / (contador - 1)

        return media, varianza,lista_dias

    def monte_carlo(self, limite_inferior: float, limite_superior: float, número_de_clientes: int, total_experimentos: int, seleccionado: int):
        self.lista_clientes = self.generar_valores_aleatorios(limite_inferior, limite_superior, número_de_clientes, total_experimentos)
        media, varianza,lista_parcial = self.calcular_valores_media_varianza(self.lista_clientes, total_experimentos, seleccionado)

        return [media, varianza,lista_parcial]

In [53]:
def obtener_datos(limite_inferior,limite_superior,enfoque):
    dias=5
    total_experimentos=100
    simulacion = SimulacionMonteCarlo()
    resultado = simulacion.monte_carlo(limite_inferior, limite_superior, dias, total_experimentos, enfoque)
    print(f"Media: {resultado[0]}, Varianza: {resultado[1]}")
    return resultado[0]

In [54]:
numero_de_dias=5
demandas_salsa_mediana_verde= []
for i in range(numero_de_dias):
    if i <=1:
        limite_inferior=80.0
        limite_superior=120.0
        enfoque= 0
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_mediana_verde.append(valor)

    if i == 2:

        enfoque= 2 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_mediana_verde.append(valor)


    if i<= 4 and i>2:

        enfoque= 4 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_mediana_verde.append(valor)
#print(resultado[2])

Media: 87.28718330327159, Varianza: 0.321130807989519
Media: 86.12198458516909, Varianza: 0.23659628688487544
Media: 100.26374822903765, Varianza: 0.4846418681479747
Media: 114.34472499983984, Varianza: 0.22053861104933503
Media: 112.89878844422536, Varianza: 0.3684865611713235

In [55]:
demandas_salsa_mediana_verde

[87.28718330327159,
 86.12198458516909,
 100.26374822903765,
 114.34472499983984,
 112.89878844422536]

In [56]:
numero_de_dias=5
demandas_salsa_chica_verde= []
for i in range(numero_de_dias):
    if i <=1:
        limite_inferior=100.0
        limite_superior=140.0
        enfoque= 0
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_chica_verde.append(valor)

    if i == 2:

        enfoque= 2 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_chica_verde.append(valor)


    if i<= 4 and i>2:

        enfoque= 4 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_chica_verde.append(valor)

Media: 107.04994819391246, Varianza: 0.3405387737351333
Media: 106.50292611515762, Varianza: 0.27396463279963257
Media: 120.08895884609377, Varianza: 0.40963094493130825
Media: 134.40201280317598, Varianza: 0.21716396669657456
Media: 133.6883975975439, Varianza: 0.23745990110668913

In [57]:
demandas_salsa_chica_verde

[107.04994819391246,
 106.50292611515762,
 120.08895884609377,
 134.40201280317598,
 133.6883975975439]

In [58]:
numero_de_dias=5
demandas_salsa_grande_verde= []
for i in range(numero_de_dias):
    if i <=1:
        limite_inferior=60.0
        limite_superior=100.0
        enfoque= 0
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_grande_verde.append(valor)

    if i == 2:

        enfoque= 2 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_grande_verde.append(valor)


    if i<= 4 and i>2:

        enfoque= 4 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_grande_verde.append(valor)

Media: 66.0014224636817, Varianza: 0.24909047527265216
Media: 66.07501657228907, Varianza: 0.31951002624263936
Media: 79.19356439772912, Varianza: 0.5536015717068352
Media: 93.44712319705684, Varianza: 0.28389209894668
Media: 92.83619513097803, Varianza: 0.3515904454020955

In [59]:
demandas_salsa_grande_verde

[66.0014224636817,
 66.07501657228907,
 79.19356439772912,
 93.44712319705684,
 92.83619513097803]

In [60]:
df = pd.DataFrame({
    'Tamaño chico verde': demandas_salsa_chica_verde,
    'Tamaño mediano verde': demandas_salsa_mediana_verde,
    'Tamaño grande verde': demandas_salsa_grande_verde
})
df

   Tamaño chico verde  Tamaño mediano verde  Tamaño grande verde
0          107.049948             87.287183            66.001422
1          106.502926             86.121985            66.075017
2          120.088959            100.263748            79.193564
3          134.402013            114.344725            93.447123
4          133.688398            112.898788            92.836195

Se obtuvo después de 10,000 iteraciones una demanda media por dia de 59.978 y una desviación estandar de 0.34656568156507167 esto representa un indicador del error que podemos estar cometiendo desv estandar de Sn.

# Salsa Roja

In [61]:
numero_de_dias=5
demandas_salsa_grande_roja= []
for i in range(numero_de_dias):
    if i <=1:
        limite_inferior=30.0
        limite_superior=50.0
        enfoque= 0
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_grande_roja.append(valor)

    if i == 2:

        enfoque= 2 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_grande_roja.append(valor)


    if i<= 4 and i>2:

        enfoque= 4 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_grande_roja.append(valor)

Media: 32.92742674875469, Varianza: 0.07884266572142273
Media: 33.08474414074951, Varianza: 0.05612336460437817
Media: 40.003726204188546, Varianza: 0.15565462452444834
Media: 46.91385359235178, Varianza: 0.09076011414426333
Media: 46.45191643370423, Varianza: 0.0860353464948247

In [62]:
demandas_salsa_grande_roja

[32.92742674875469,
 33.08474414074951,
 40.003726204188546,
 46.91385359235178,
 46.45191643370423]

In [63]:
numero_de_dias=5
demandas_salsa_mediana_roja= []
for i in range(numero_de_dias):
    if i <=1:
        limite_inferior=40.0
        limite_superior=60.0
        enfoque= 0
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_mediana_roja.append(valor)

    if i == 2:

        enfoque= 2 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_mediana_roja.append(valor)


    if i<= 4 and i>2:

        enfoque= 4 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_mediana_roja.append(valor)

Media: 43.48674284962378, Varianza: 0.09400943797162142
Media: 43.09107164298904, Varianza: 0.06198773558727311
Media: 50.17780940493049, Varianza: 0.15674713285954667
Media: 56.551977865753855, Varianza: 0.08137844441493058
Media: 56.92609194437598, Varianza: 0.07276538505373509

In [64]:
numero_de_dias=5
demandas_salsa_chica_roja= []
for i in range(numero_de_dias):
    if i <=1:
        limite_inferior=50.0
        limite_superior=70.0
        enfoque= 0
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_chica_roja.append(valor)

    if i == 2:

        enfoque= 2 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_chica_roja.append(valor)


    if i<= 4 and i>2:

        enfoque= 4 # pesimista, optimisita es el que agarras volado. #0 peor, 4 mejor , 2 en medio
        valor=obtener_datos(limite_inferior,limite_superior,enfoque)
        demandas_salsa_chica_roja.append(valor)

Media: 53.56742566877808, Varianza: 0.09986050834118743
Media: 53.1376077914755, Varianza: 0.08387908013794387
Media: 59.8613090747197, Varianza: 0.16407001710799562
Media: 66.65906803598199, Varianza: 0.09628230145877836
Media: 66.45600384133414, Varianza: 0.09399994000646927

In [65]:
demandas_salsa_chica_roja

[53.56742566877808,
 53.1376077914755,
 59.8613090747197,
 66.65906803598199,
 66.45600384133414]

In [66]:
df2 = pd.DataFrame({
    'Tamaño chico roja': demandas_salsa_chica_roja,
    'Tamaño mediano roja': demandas_salsa_mediana_roja,
    'Tamaño grande roja': demandas_salsa_grande_roja
})
df2

   Tamaño chico roja  Tamaño mediano roja  Tamaño grande roja
0          53.567426            43.486743           32.927427
1          53.137608            43.091072           33.084744
2          59.861309            50.177809           40.003726
3          66.659068            56.551978           46.913854
4          66.456004            56.926092           46.451916

In [67]:
df_combined = pd.concat([df, df2], axis=1)
df_combined

,Tamaño chico verde,Tamaño mediano verde,Tamaño grande verde,Tamaño chico roja,Tamaño mediano roja,Tamaño grande roja
0,107.049948,87.287183,66.001422,53.567426,43.486743,32.927427
1,106.502926,86.121985,66.075017,53.137608,43.091072,33.084744
2,120.088959,100.263748,79.193564,59.861309,50.177809,40.003726
3,134.402013,114.344725,93.447123,66.659068,56.551978,46.913854
4,133.688398,112.898788,92.836195,66.456004,56.926092,46.451916

In [68]:
df_combined.index = range(1, len(df) + 1)
df_combined

,Tamaño chico verde,Tamaño mediano verde,Tamaño grande verde,Tamaño chico roja,Tamaño mediano roja,Tamaño grande roja
1,107.049948,87.287183,66.001422,53.567426,43.486743,32.927427
2,106.502926,86.121985,66.075017,53.137608,43.091072,33.084744
3,120.088959,100.263748,79.193564,59.861309,50.177809,40.003726
4,134.402013,114.344725,93.447123,66.659068,56.551978,46.913854
5,133.688398,112.898788,92.836195,66.456004,56.926092,46.451916

In [69]:
df_combined.to_csv("demanda.csv" ,encoding="latin1")

Heramentales

In [70]:
numero_de_dias=5
llegada_herramental1= []
for i in range(numero_de_dias):
    limite_inferior=0.0
    limite_superior=12.0
    enfoque= 4  # este es el que el wey puede cambiar 0 es optimista, 4, es pesimista, 2 normal ,
    valor=obtener_datos(limite_inferior,limite_superior,enfoque)
    llegada_herramental1.append(valor)

Media: 9.959486608673688, Varianza: 0.032658782176393064
Media: 9.939038760009204, Varianza: 0.029569148172822746
Media: 9.800657222455074, Varianza: 0.025060076729327307
Media: 10.078458148873962, Varianza: 0.028486905505027638
Media: 10.279202829840246, Varianza: 0.02226356653565298

In [71]:
numero_de_dias=5
llegada_herramental2= []
for i in range(numero_de_dias):
    limite_inferior=0.0
    limite_superior=12.0
    enfoque= 4  # este es el que el wey puede cambiar 0 es optimista, 4, es pesimista, 2 normal ,
    valor=obtener_datos(limite_inferior,limite_superior,enfoque)
    llegada_herramental2.append(valor)

Media: 9.980572999030233, Varianza: 0.031089582085876755
Media: 10.060609315552245, Varianza: 0.032840725629065926
Media: 10.080432800999583, Varianza: 0.022517074468533682
Media: 9.932902965233595, Varianza: 0.030506377128382556
Media: 10.113107545921359, Varianza: 0.022709130246850062

In [72]:
llegada_herramental2

[9.980572999030233,
 10.060609315552245,
 10.080432800999583,
 9.932902965233595,
 10.113107545921359]

In [73]:
df3 = pd.DataFrame({
    'Herramental 1': llegada_herramental1,
    'Herramental 2': llegada_herramental2,
})
df3

   Herramental 1  Herramental 2
0       9.959487       9.980573
1       9.939039      10.060609
2       9.800657      10.080433
3      10.078458       9.932903
4      10.279203      10.113108

In [74]:
df3.index = range(1, len(df3) + 1)
df3

   Herramental 1  Herramental 2
1       9.959487       9.980573
2       9.939039      10.060609
3       9.800657      10.080433
4      10.078458       9.932903
5      10.279203      10.113108

In [75]:
df3.to_csv("herramentales.csv")

# Dataframes correctos.

In [76]:
salsa_verde = df.copy()
salsa_roja = df2.copy()
herramentales = df3.copy()

In [77]:
salsa_verde

   Tamaño chico verde  Tamaño mediano verde  Tamaño grande verde
0          107.049948             87.287183            66.001422
1          106.502926             86.121985            66.075017
2          120.088959            100.263748            79.193564
3          134.402013            114.344725            93.447123
4          133.688398            112.898788            92.836195

In [78]:
# Agregar fila Total, donde se encuentre la sumatoria de la fila
salsa_verde.loc['Total'] = salsa_verde.sum()
salsa_roja.loc['Total'] = salsa_roja.sum()

# Agregar columna Total dia, donde se sume la cantidad que hay por columna
salsa_verde.loc[:, 'Total dia'] = salsa_verde.sum(axis=1)
salsa_roja.loc[:, 'Total dia'] = salsa_roja.sum(axis=1)


salsa_verde

,Tamaño chico verde,Tamaño mediano verde,Tamaño grande verde,Total dia
0,107.049948,87.287183,66.001422,260.338554
1,106.502926,86.121985,66.075017,258.699927
2,120.088959,100.263748,79.193564,299.546271
3,134.402013,114.344725,93.447123,342.193861
4,133.688398,112.898788,92.836195,339.423381
Total,601.732244,500.916430,397.553322,1500.201995

In [79]:
# Borrar fila Total

salsa_verde = salsa_verde.drop('Total')
salsa_roja = salsa_roja.drop('Total')

Parametros

In [80]:
# Tiempos, Una lista de 3 en donde cada posición es una máquina y cada valor es su proceso de limpieza (M1,M2,M3)
u = 0.25 # horas

# Rates
rM1 = 230
rM2 = 290
rM3 = 200

# Capacidades
capacidad_max_M1 = 345
capacidad_max_M2 = 435
capacidad_max_M3 = 300

capacidad_min_M1 = 20
capacidad_min_M2 = 40
capacidad_min_M3 = 80

## Pasos a seguir

In [81]:
# Sacar produccion total en Litros para las salsas

# Chica: 0.2 Litros
# Mediana: 0.3 Litros
# Grande: 0.5 Litros

# Crear columna Produccion chico, mediano, grande y multiplicarlo con los valores

salsa_verde['Produccion chico'] = salsa_verde['Tamaño chico verde'] * 0.9
salsa_verde['Produccion mediano'] = salsa_verde['Tamaño mediano verde'] * 1.5
salsa_verde['Produccion grande'] = salsa_verde['Tamaño grande verde'] * 3

salsa_roja['Produccion chico'] = salsa_roja['Tamaño chico roja'] * 0.3
salsa_roja['Produccion mediano'] = salsa_roja['Tamaño mediano roja'] * 0.5
salsa_roja['Produccion grande'] = salsa_roja['Tamaño grande roja'] * 1.0

# Agregar columna Litros totales
salsa_verde['Litros totales'] = salsa_verde['Produccion chico'] + salsa_verde['Produccion mediano'] + salsa_verde['Produccion grande']
salsa_roja['Litros totales'] = salsa_roja['Produccion chico'] + salsa_roja['Produccion mediano'] + salsa_roja['Produccion grande']


salsa_verde

,Tamaño chico verde,Tamaño mediano verde,Tamaño grande verde,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
0,107.049948,87.287183,66.001422,260.338554,96.344953,130.930775,198.004267,425.279996
1,106.502926,86.121985,66.075017,258.699927,95.852634,129.182977,198.225050,423.260660
2,120.088959,100.263748,79.193564,299.546271,108.080063,150.395622,237.580693,496.056378
3,134.402013,114.344725,93.447123,342.193861,120.961812,171.517087,280.341370,572.820269
4,133.688398,112.898788,92.836195,339.423381,120.319558,169.348183,278.508585,568.176326

In [82]:
# Acomodamos el dataframe basado en mayor Litros totales, ignorando el Total

salsa_verde = salsa_verde.sort_values(by='Litros totales', ascending=False)
salsa_roja = salsa_roja.sort_values(by='Litros totales', ascending=False)

salsa_verde

,Tamaño chico verde,Tamaño mediano verde,Tamaño grande verde,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
3,134.402013,114.344725,93.447123,342.193861,120.961812,171.517087,280.341370,572.820269
4,133.688398,112.898788,92.836195,339.423381,120.319558,169.348183,278.508585,568.176326
2,120.088959,100.263748,79.193564,299.546271,108.080063,150.395622,237.580693,496.056378
0,107.049948,87.287183,66.001422,260.338554,96.344953,130.930775,198.004267,425.279996
1,106.502926,86.121985,66.075017,258.699927,95.852634,129.182977,198.225050,423.260660

In [83]:
salsa_verde.index = range(1, len(salsa_verde) + 1)
salsa_verde

,Tamaño chico verde,Tamaño mediano verde,Tamaño grande verde,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
1,134.402013,114.344725,93.447123,342.193861,120.961812,171.517087,280.341370,572.820269
2,133.688398,112.898788,92.836195,339.423381,120.319558,169.348183,278.508585,568.176326
3,120.088959,100.263748,79.193564,299.546271,108.080063,150.395622,237.580693,496.056378
4,107.049948,87.287183,66.001422,260.338554,96.344953,130.930775,198.004267,425.279996
5,106.502926,86.121985,66.075017,258.699927,95.852634,129.182977,198.225050,423.260660

In [84]:
salsa_roja

,Tamaño chico roja,Tamaño mediano roja,Tamaño grande roja,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
3,66.659068,56.551978,46.913854,170.124899,19.997720,28.275989,46.913854,95.187563
4,66.456004,56.926092,46.451916,169.834012,19.936801,28.463046,46.451916,94.851764
2,59.861309,50.177809,40.003726,150.042845,17.958393,25.088905,40.003726,83.051024
0,53.567426,43.486743,32.927427,129.981595,16.070228,21.743371,32.927427,70.741026
1,53.137608,43.091072,33.084744,129.313424,15.941282,21.545536,33.084744,70.571562

In [85]:
salsa_verde

,Tamaño chico verde,Tamaño mediano verde,Tamaño grande verde,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
1,134.402013,114.344725,93.447123,342.193861,120.961812,171.517087,280.341370,572.820269
2,133.688398,112.898788,92.836195,339.423381,120.319558,169.348183,278.508585,568.176326
3,120.088959,100.263748,79.193564,299.546271,108.080063,150.395622,237.580693,496.056378
4,107.049948,87.287183,66.001422,260.338554,96.344953,130.930775,198.004267,425.279996
5,106.502926,86.121985,66.075017,258.699927,95.852634,129.182977,198.225050,423.260660

In [86]:
salsa_roja

,Tamaño chico roja,Tamaño mediano roja,Tamaño grande roja,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
3,66.659068,56.551978,46.913854,170.124899,19.997720,28.275989,46.913854,95.187563
4,66.456004,56.926092,46.451916,169.834012,19.936801,28.463046,46.451916,94.851764
2,59.861309,50.177809,40.003726,150.042845,17.958393,25.088905,40.003726,83.051024
0,53.567426,43.486743,32.927427,129.981595,16.070228,21.743371,32.927427,70.741026
1,53.137608,43.091072,33.084744,129.313424,15.941282,21.545536,33.084744,70.571562

In [87]:
salsa_roja.index = range(1, len(salsa_roja) + 1)
salsa_roja

,Tamaño chico roja,Tamaño mediano roja,Tamaño grande roja,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
1,66.659068,56.551978,46.913854,170.124899,19.997720,28.275989,46.913854,95.187563
2,66.456004,56.926092,46.451916,169.834012,19.936801,28.463046,46.451916,94.851764
3,59.861309,50.177809,40.003726,150.042845,17.958393,25.088905,40.003726,83.051024
4,53.567426,43.486743,32.927427,129.981595,16.070228,21.743371,32.927427,70.741026
5,53.137608,43.091072,33.084744,129.313424,15.941282,21.545536,33.084744,70.571562

In [88]:
# Generar csv de salsa_verde y salsa_roja

salsa_verde.to_csv('salsa_verde.csv', index=False)
salsa_roja.to_csv('salsa_roja.csv', index=False)

In [89]:
# Dataframe herramental
herramentales

   Herramental 1  Herramental 2
1       9.959487       9.980573
2       9.939039      10.060609
3       9.800657      10.080433
4      10.078458       9.932903
5      10.279203      10.113108

In [90]:
salsa_roja

,Tamaño chico roja,Tamaño mediano roja,Tamaño grande roja,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
1,66.659068,56.551978,46.913854,170.124899,19.997720,28.275989,46.913854,95.187563
2,66.456004,56.926092,46.451916,169.834012,19.936801,28.463046,46.451916,94.851764
3,59.861309,50.177809,40.003726,150.042845,17.958393,25.088905,40.003726,83.051024
4,53.567426,43.486743,32.927427,129.981595,16.070228,21.743371,32.927427,70.741026
5,53.137608,43.091072,33.084744,129.313424,15.941282,21.545536,33.084744,70.571562

In [91]:
salsa_verde

,Tamaño chico verde,Tamaño mediano verde,Tamaño grande verde,Total dia,Produccion chico,Produccion mediano,Produccion grande,Litros totales
1,134.402013,114.344725,93.447123,342.193861,120.961812,171.517087,280.341370,572.820269
2,133.688398,112.898788,92.836195,339.423381,120.319558,169.348183,278.508585,568.176326
3,120.088959,100.263748,79.193564,299.546271,108.080063,150.395622,237.580693,496.056378
4,107.049948,87.287183,66.001422,260.338554,96.344953,130.930775,198.004267,425.279996
5,106.502926,86.121985,66.075017,258.699927,95.852634,129.182977,198.225050,423.260660

In [92]:
df3

   Herramental 1  Herramental 2
1       9.959487       9.980573
2       9.939039      10.060609
3       9.800657      10.080433
4      10.078458       9.932903
5      10.279203      10.113108

In [93]:
df3

   Herramental 1  Herramental 2
1       9.959487       9.980573
2       9.939039      10.060609
3       9.800657      10.080433
4      10.078458       9.932903
5      10.279203      10.113108

In [94]:
herramentales

   Herramental 1  Herramental 2
1       9.959487       9.980573
2       9.939039      10.060609
3       9.800657      10.080433
4      10.078458       9.932903
5      10.279203      10.113108

In [95]:
import pandas as pd
from datetime import timedelta

def calcular_secuenciacion_por_dia(dia, df3, salsa_verde, salsa_roja, herramentales, rM1, rM2, rM3, u):
    def convertir_horas(horas_decimal):
        """Convierte un valor de horas en formato decimal a una cadena 'HH:MM'."""
        horas = int(horas_decimal)
        minutos = int(round((horas_decimal - horas) * 60))
        return f"{horas:02d}:{minutos:02d}"

    def calcular_hora_real(horas_decimal):
        """Convierte el tiempo en formato decimal al reloj considerando el inicio del turno a las 6:00 am."""
        horas_base = 6  # El turno empieza a las 6:00 am
        tiempo_total = horas_base + horas_decimal
        return convertir_horas(tiempo_total)

    def secuenciar_salsa(salsa_actual, nombre_salsa, hora_herramental, proceso_actual, machine_available_times):
        demanda = salsa_actual.loc[dia, 'Litros totales']  # Usar `dia` directamente
        xL = ((rM1 * rM2) * (hora_herramental - 2 * u)) / (rM1 + rM2)
        xL = min(xL, demanda)
        hora_inicial= 6
        prod_M1 = (xL / rM1) + u
        prod_M2 = (xL / rM2) + u
        prod_M3 = (xL / rM3) + u

        # Asignar tiempo de inicio y fin para cada máquina considerando disponibilidad
        # Máquina 1
        h_inicio_M3 = hora_herramental
        hora_inicio_M1 = h_inicio_M3 - (prod_M1 + prod_M2)

        # Validar horas
        if hora_inicio_M1 + prod_M1 + prod_M2 + prod_M3 > 18:
            raise ValueError(f"Proceso {proceso_actual} excede el turno laboral.")

        hora_fin_M1 = hora_inicio_M1 + prod_M1
        hora_fin_M2 = hora_fin_M1 + prod_M2
        hora_fin_M3 = hora_fin_M2 + prod_M3

        # Agregar secuencia a DataFrame
        secuencias.append({
            "Proceso": proceso_actual,
            "Máquina": 1,
            "Producto": f"Salsa {nombre_salsa}",
            "Cantidad": xL,
            "Secuencia": f"{proceso_actual}.1",
            "Tiempo de proceso": round(prod_M1, 2),
            "Tiempo entre procesos": 0,
            "Hora Inicio": calcular_hora_real(hora_inicio_M1),
            "Hora Fin": calcular_hora_real(hora_fin_M1),
        })
        secuencias.append({
            "Proceso": proceso_actual,
            "Máquina": 2,
            "Producto": f"Salsa {nombre_salsa}",
            "Cantidad": xL,
            "Secuencia": f"{proceso_actual}.2",
            "Tiempo de proceso": round(prod_M2, 2),
            "Tiempo entre procesos": 1,
            "Hora Inicio": calcular_hora_real(hora_fin_M1),
            "Hora Fin": calcular_hora_real(hora_fin_M2),
        })
        secuencias.append({
            "Proceso": proceso_actual,
            "Máquina": 3,
            "Producto": f"Salsa {nombre_salsa}",
            "Cantidad": xL,
            "Secuencia": f"{proceso_actual}.3",
            "Tiempo de proceso": round(prod_M3, 2),
            "Tiempo entre procesos": 2,
            "Hora Inicio": calcular_hora_real(h_inicio_M3),
            "Hora Fin": calcular_hora_real(hora_fin_M3),
        })
        return hora_fin_M3

    # Validar que el día está en el índice
    if dia not in df3.index:
        raise ValueError(f"El día {dia} no está disponible en los datos.")

    # Determinar el herramental que llega primero
    herramental_dia = df3.loc[dia]  # Usar `dia` directamente
    if herramental_dia['Herramental 1'] <= herramental_dia['Herramental 2']:
        salsa_inicial = ("verde", salsa_verde, herramental_dia['Herramental 1'])
        salsa_posterior = ("roja", salsa_roja, herramental_dia['Herramental 2'])
    else:
        salsa_inicial = ("roja", salsa_roja, herramental_dia['Herramental 2'])
        salsa_posterior = ("verde", salsa_verde, herramental_dia['Herramental 1'])

    secuencias = []  # Lista para las secuencias
    proceso_actual = 1

    # Inicializar disponibilidad de las máquinas a las 6:00 am
    machine_available_times = {1: 6.0, 2: 6.0, 3: 6.0}

    # Secuenciar la primera salsa
    nombre, salsa_actual, hora_herramental = salsa_inicial
    hora_fin = secuenciar_salsa(
        salsa_actual,
        nombre,
        hora_herramental,
        proceso_actual,
        machine_available_times
    )

    # Secuenciar la segunda salsa si el tiempo lo permite
    if hora_fin < 18.0:
        proceso_actual += 1
        nombre_p, salsa_actual_p, hora_herramental_p = salsa_posterior
        # El inicio de la segunda salsa debe ser después de que la primera termine o la llegada del herramental
        start_time_p = max(hora_fin, hora_herramental_p)
        hora_fin_p = secuenciar_salsa(
            salsa_actual_p,
            nombre_p,
            start_time_p,
            proceso_actual,
            machine_available_times
        )

    # Crear el DataFrame de secuencias
    df_secuencias = pd.DataFrame(secuencias)
    print(df_secuencias)
    return df_secuencias

# Ejemplo de llamada a la función
# Asegúrate de tener los DataFrames df3, salsa_verde, salsa_roja, herramentales definidos correctamente
# y las variables rM1, rM2, rM3, u asignadas antes de llamar a la función.

# dia = 1  # Cambiar el día para probar con distintos datos
# df = calcular_secuenciacion_por_dia(dia, df3, salsa_verde, salsa_roja, herramentales, rM1, rM2, rM3, u)
# print(df)


# Ejemplo de llamada a la función
dia = 3  # Cambiar el día para probar con distintos datos
df=calcular_secuenciacion_por_dia(dia, df3, salsa_verde, salsa_roja, herramentales, rM1, rM2, rM3, u)
df

   Proceso  Máquina     Producto    Cantidad Secuencia  Tiempo de proceso  \
0        1        1  Salsa verde  496.056378       1.1               2.41
1        1        2  Salsa verde  496.056378       1.2               1.96
2        1        3  Salsa verde  496.056378       1.3               2.73
3        2        1   Salsa roja   83.051024       2.1               0.61
4        2        2   Salsa roja   83.051024       2.2               0.54
5        2        3   Salsa roja   83.051024       2.3               0.67

   Tiempo entre procesos Hora Inicio Hora Fin
0                      0       11:26    13:50
1                      1       13:50    15:48
2                      2       15:48    18:32
3                      0       17:23    17:60
4                      1       17:60    18:32
5                      2       18:32    19:12

,Proceso,Máquina,Producto,Cantidad,Secuencia,Tiempo de proceso,Tiempo entre procesos,Hora Inicio,Hora Fin
0,1,1,Salsa verde,496.056378,1.1,2.41,0,11:26,13:50
1,1,2,Salsa verde,496.056378,1.2,1.96,1,13:50,15:48
2,1,3,Salsa verde,496.056378,1.3,2.73,2,15:48,18:32
3,2,1,Salsa roja,83.051024,2.1,0.61,0,17:23,17:60
4,2,2,Salsa roja,83.051024,2.2,0.54,1,17:60,18:32
5,2,3,Salsa roja,83.051024,2.3,0.67,2,18:32,19:12

In [96]:
df3

   Herramental 1  Herramental 2
1       9.959487       9.980573
2       9.939039      10.060609
3       9.800657      10.080433
4      10.078458       9.932903
5      10.279203      10.113108

In [97]:
import pandas as pd

# Suponiendo que el DataFrame es df_secuencias
# Convertir horas a formato decimal para comparar
def convertir_a_decimal(hora_str):
    """Convierte una hora en formato 'HH:MM' a formato decimal."""
    if ":" not in hora_str:
        return None  # Si no es una hora válida, devolver None
    horas, minutos = map(int, hora_str.split(":"))
    return horas + minutos / 60

# Agregar columnas auxiliares con las horas en formato decimal
df['Hora Inicio Decimal'] = df['Hora Inicio'].apply(convertir_a_decimal)
df['Hora Fin Decimal'] = df['Hora Fin'].apply(convertir_a_decimal)

# Rango permitido (de 6:00 a 18:00 horas)
hora_inicio_turno = 6
hora_fin_turno = 18

# Identificar filas fuera del rango
for index, row in df.iterrows():
    if row['Hora Inicio Decimal'] > hora_fin_turno or row['Hora Fin Decimal'] > hora_fin_turno:
        print(f"Error en fila {index}:")
        print(f"  Proceso: {row['Proceso']}, Máquina: {row['Máquina']}")
        print(f"  Hora Inicio: {row['Hora Inicio']} (decimal: {row['Hora Inicio Decimal']})")
        print(f"  Hora Fin: {row['Hora Fin']} (decimal: {row['Hora Fin Decimal']})")

Error en fila 2:
  Proceso: 1, Máquina: 3
  Hora Inicio: 15:48 (decimal: 15.8)
  Hora Fin: 18:32 (decimal: 18.533333333333335)
Error en fila 4:
  Proceso: 2, Máquina: 2
  Hora Inicio: 17:60 (decimal: 18.0)
  Hora Fin: 18:32 (decimal: 18.533333333333335)
Error en fila 5:
  Proceso: 2, Máquina: 3
  Hora Inicio: 18:32 (decimal: 18.533333333333335)
  Hora Fin: 19:12 (decimal: 19.2)

In [98]:
df

,Proceso,Máquina,Producto,Cantidad,Secuencia,Tiempo de proceso,Tiempo entre procesos,Hora Inicio,Hora Fin,Hora Inicio Decimal,Hora Fin Decimal
0,1,1,Salsa verde,496.056378,1.1,2.41,0,11:26,13:50,11.433333,13.833333
1,1,2,Salsa verde,496.056378,1.2,1.96,1,13:50,15:48,13.833333,15.800000
2,1,3,Salsa verde,496.056378,1.3,2.73,2,15:48,18:32,15.800000,18.533333
3,2,1,Salsa roja,83.051024,2.1,0.61,0,17:23,17:60,17.383333,18.000000
4,2,2,Salsa roja,83.051024,2.2,0.54,1,17:60,18:32,18.000000,18.533333
5,2,3,Salsa roja,83.051024,2.3,0.67,2,18:32,19:12,18.533333,19.200000